.folder__Container{
    display: flex;
    flex-direction: column;
}

.folder__Header {
    background-color: var(--folder--top);
    border-radius: 0 100px 0 0;
    height: 35px;
    width: 165px;
}

.folder__Img {
    margin-top: 35px;
    position: absolute;
    transition: margin-top ease-in .2s;
}

.activeImg {
    margin-top: 0px;
}

.folder__Footer {
    background-color: var(--folder--section);
    display: flex;
    flex-direction: column;
    font-size: var(--text--size-xs);
    height: 200px;
    justify-content: space-around;
    padding: 10px 10px;
    width: 300px;
    z-index: 10;
}

.folder__Links {
    display: flex;
    justify-content: flex-end;
}

.folder__Links a {
    color: var(--white);
    margin-left: 10px;
}

.folder__Footer h3 {
    color: var(--white);
    font-size: var(--text--size-xl);
    text-wrap: balance;
}

.folder__Footer p {
    color: var(--white--light);
    text-wrap: balance;
}

.folder__tools {
    display: flex;
    gap: 7px;
}

.folder__tools li {
    color: var(--white--dark);
    font-size: var(--text--size-xxs);
    list-style: none;
}
