.contact__Container {
    width: 95%;
    padding-bottom: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 25px;
    
}

.contact__p {
    font-size: var(--text--size-xl);
    margin-bottom: 30px;
}

.contact__links {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: max-content;
}

.contact__Icons {
    margin: 0 0 30px;
    display: flex;
}

.contact__Icons a{
    padding: 0 10px;
    font-size: var(--text--size-xl);
    color: var(--text-icons);
    align-items: center;
    display: flex;
    text-decoration: none;
}

.contact__Icons a:hover {
    text-decoration: underline;
}

.contact__Social {
    margin-left: 5px;
}

.contact__email {
    width: max-content;
    text-align: center;
    font-size: var(--text--size-xl);
}

.contact__email button{
    cursor: pointer;
    background-color: transparent;
    border: none;
    color: var(--text-icons);
}

.email__copy {
    opacity: 0;
    text-transform: uppercase;
    transition: opacity .3s,transform .3s;
}



@media (max-width: 620px){
    .contact__Container {
        justify-content: center;
    }
}
