.header{
    color: var(--text--color);
    display: flex;
    font-family: var(--font--general);
    height: 100vh;
    margin-bottom: 50px;
    justify-content: center;
    width: 100%;
}

.header__container{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 94%;
}

.header__Title h1{
    font-size: var(--text--heading);
    letter-spacing: -.199ch;
    line-height: 75%;
    margin: 0;
    padding-right: 10px;
    word-wrap: break-word;
}

.header-text-line {
    margin: 0 15px 0 10px;
}

.header__Title h1 span{
    transition: color 0.15s;
}

.header__Title h1 span:hover{
    color: var(--palete--light);
}

.header__Title .desktop {
    display: none;
}


.header__info {   
    display: flex;
    justify-content: space-between;
}

.info__Icon {   
    position: relative;
}

.info__Icon svg{   
    animation: motion 1s linear infinite;
    position: absolute;
}

@keyframes motion {
    0% {
        opacity: 0;
        top: 0px;
    }
    50%{
        opacity: 1;
    }
    100% {
        opacity: 0;
        top: 70px;
    }
}

.header__info p {    
    color: var(--palete--light);
    font-size: var(--text--size-lg);
    text-wrap: balance;
    width: 270px;
}

.header__info p span{
    color: var(--white--dark);
    font-size: var(--text--size-lg);
    font-weight: bold;
    margin-right: 8px;
}

.border-bottom {
    border-bottom: 3px solid var(--palete);
}

.border {
    background-color: var(--palete);
    height: 3px;
    margin-top: 100px;
    width: 100%;
}

@media (min-width: 768px){
    .header__Title h1{
        font-size: calc(var(--text--heading) + 60px);
    }
}

@media (min-width: 1100px){
    .header__Title .mobile{
        display: none;
    }

    .header__Title .desktop {
        display: block;
        font-size: var(--text--heading--pc);
    }
}
